body {
    margin: 0;
    padding: 0;
    position: relative;
}

a{
    text-decoration: none;
    color: #000000;
}

.banner {
    width: 100%;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.navbar-light {
    border-bottom: 1px solid black;
}

.marg-l {
    margin-left: 5vh;
}

.mar-lmn {
    margin-left: 5vh;
}

ul.navbar-nav li.nav-item a.nav-link {
    font-weight: bold;
    color: #000000;
}

.carousel-item img {
    width: 100%;
    height: auto;
}



.dropdown-content {
    display: none;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 999;
    border-bottom: 1px solid #000;
}

.dropdown-content.show {
    display: block;
}

.table-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    padding-top: 50px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 10px;
}

.table td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.nav-item:hover .dropdown-menu {
    display: block; 
  }

.dropdown-menu {
    display: none;
    transition: all 0.3s ease;


    position: absolute;
    top: -50vh;
    left: 0%;
    transform: translate(-42%, 4%);
    max-height: calc(100vh - 56px);
    overflow-y: auto;
}

.dropdown-menu .container-fluid {
    width: 100%;
}

.dropdown-menu .row {
    width: 100vw;
    justify-content: center;

}

.dropdown-menu .col-1 {
    padding: 10px;
    padding-right: 3vh;
}

.dropdown-menu .col-1 h5 {
    font-weight: bold;
    border-bottom: 1px solid #000;

}

.dropdown-menu {
    background-color: rgba(255, 255, 255, 0.9);
}


.dropdown-menu .col-1 h5:hover {
    font-weight: bold;
    border-bottom: 1px solid #FF9B00;

}

.dropdown-menu a:hover{
    color: #FF9B00;
}

.nav-link:hover{
    color: #FF9B00;
}
footer{
    background: rgba(0, 0, 0, 0.85);
    margin-top: 10vh;
    padding-top: 8vh;
    color: #fff;
    font-size: 12px;
}

.mar-foo{
    margin-top: 3vh;
}
.mar-foot{
    margin-top: 3vh;
    padding-right: 5vw;
    font-size: 12px;
}
footer h5 {
    margin-bottom: 2vh;
}
.mrf{
    margin: 5vh 2vh 0 0 ;
}

.horizontal-line {
    border-top: 1px solid #fff; /* Độ dày và màu sắc của đường thẳng */
    width: 100%; /* Chiều rộng của đường thẳng (trên toàn bộ container) */
    margin: 10px 0; /* Khoảng cách trên và dưới đường thẳng */
  }
  .p-low{
    margin: 0;
  }
  .p-up{
    margin-top: 2vh;
  }




  .cafe-main{
    margin-top: 80px;
  }
  .main-title{
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .cafe-product{
    width: calc(100% - 10px);
    margin-bottom: 30px;
  }
  .cafe-product h4{
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
  }
  .cafe-product h4:hover{
    color: #FF9B00;
  }
  .product-cost{
    color: rgba(0, 0, 0, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .cafe-product img{
    width: 270px;
    height: 270px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  .circle {
    width: 60px;
    height: 60px;
    background-color: #EA8025;
    border-radius: 50%;
    position: fixed;
    bottom: 100px;
    right: 20px;
    color: white;
    cursor: pointer;
    text-align: center;
    padding-top: 17px;
  }
  